<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid d-flex justify-content-between">
    <div class="nav-item home-mobile">
      <a class="navbar-brand m-auto" href="http://localhost/site_material_de_apoio_tads/index.php">
        <img class="home-icon" src="http://localhost/site_material_de_apoio_tads/img/default/nav/home.png" width="25" height="25" alt="Home">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav d-flex align-items-end">
        <li class="nav-item home">
          <a class="navbar-brand" href="http://localhost/site_material_de_apoio_tads/index.php">
            <img class="home-icon mb-2" src="http://localhost/site_material_de_apoio_tads/img/default/nav/home.png" width="25" height="25" alt="Home">
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fundamentos da Computação
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="http://localhost/site_material_de_apoio_tads/pages/fundamentos/conversion.php">Conversão de bases</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lógica de Programação
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Matemática Discreta
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="http://localhost/site_material_de_apoio_tads/pages/matematica/logic.php">Lógica Matemática</a></li>
            <li><a class="dropdown-item" href="http://localhost/site_material_de_apoio_tads/pages/matematica/quantitifiers.php">Quantificadores Lógicos</a></li>
            <li><a class="dropdown-item" href="http://localhost/site_material_de_apoio_tads/pages/matematica/sets.php">Conjuntos</a></li>
            <li><a class="dropdown-item" href="http://localhost/site_material_de_apoio_tads/pages/matematica/relations.php">Relações</a></li>
            <li><a class="dropdown-item" href="http://localhost/site_material_de_apoio_tads/pages/matematica/functions.php">Funções</a></li>
            <li><a class="dropdown-item" href="http://localhost/site_material_de_apoio_tads/pages/matematica/number_theory.php">Teoria dos Números</a></li>
            <li><a class="dropdown-item" href="http://localhost/site_material_de_apoio_tads/pages/matematica/summation.php">Somatórios</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Estatística
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/site_material_de_apoio_tads/pages/downloads/downloads.php">Downloads</a>
        </li>
      </ul>
    </div>
  </div>
</nav>