.content-img {
    display: block;
    margin: auto;
    width: 550px;
}
.img-binary-octal {
    display: block;
    margin: auto;
    width: 250px;
}
@media only screen and (max-width: 768px) {
    .content-img {
        width: 100%;
    }
    .img-binary-octal {
        width: 50%;
    }
}