body {
    font-family: 'Roboto', sans-serif;
}
.content-container {
    margin: auto;
    margin-top: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.title {
    font-size: 1.3rem;
    text-align: center;
}
.sub-title {
    font-size: 1.2rem;
    text-align: center;
    text-decoration: underline;
}
@media only screen and (max-width: 768px) {
    .links a {
        font-size: 0.7rem;
    }
}